.splitter {
  background-color: var(--bg-splitter);
}

.header {
  background-color: var(--bg-workspace-header);
}

.headingText {
  color: var(--text-workspace-header);
}

.workspace {
  background-color: var(--bg-workspace);
  color: var(--text-body);
}
