@use 'sass:map';

$breakpoints: (
  'small': ('prefix': 'sm', 'breakpoint': 900px),
  'medium': ('prefix': 'md', 'breakpoint': 1024px),
);

// Return screen breakpoint
@function breakpoint($screen-name) {

  // check if valid screen name
  @if not map-has-key($breakpoints, $screen-name) {
    @error 'Invalid screen-nam: #{$screen-name}';
  }

  // return breakpoint
  @return map-get($breakpoints, $screen-name, 'breakpoint');
}

// Generate media query
@mixin query($screen-name) {
  @media screen and (min-width: breakpoint($screen-name)) {
    @content;
  }
}

// Generate class for all screens
@mixin screens($class) {

  /* .#{$class} */
  .#{$class} {
    @content;
  }

  // for each breakpoint
  @each $screen-name,
  $screen-map in $breakpoints {
    // get screen prefix
    $screen-prefix: map-get($breakpoints, $screen-name, 'prefix');

    // get screen breakpoint
    $screen-breakpoint: map-get($breakpoints, $screen-name, 'breakpoint');

    /* .#{$class} (breakpoint: #{$screen-breakpoint}) */
    @include query($screen-name) {
      .#{$screen-prefix}\:#{$class} {
        @content;
      }
    }
  }
}