@use 'sass:map';
@use 'sass:math';

// font families
$font-families: (
  'roboto': '\'Roboto\', sans-serif',
  'roboto-slab': '\'Roboto Slab\', serif',
  'roboto-mono': '\'Roboto Mono\', monospace',
  'commissioner': '\'Commissioner\', sans-serif',
);

// font weights
$font-weights: (
  700,
  500,
  400,
  300
);

// base size in px
$base-size: 16;

// sizes in px
$sizes: (
  '800': 32,
  '700': 28,
  '600': 24,
  '500': 20,
  '400': 16,
  '300': 15,
  '200': 14,
  '100': 13,
  '50': 5,
  '25': 2,
);

// Generate CSS custom properties
@mixin customProperties() {
  @include fontFamilyCustomProperties();
  @include fontWeightCustomProperties();
  @include remSizeCustomProperties();
}

// Font family custom properties
@mixin fontFamilyCustomProperties() {

  /* font families */
  // each font family
  @each $font-name,
  $font-family in $font-families {
    --font-family-#{$font-name}: #{$font-family};
  }
}

// Font weight custom properties
@mixin fontWeightCustomProperties() {

  /* font weights */
  // each font weight
  @each $font-weight in $font-weights {
    --font-weight-#{$font-weight}: #{$font-weight};
  }
}

// size in rem custom properties
@mixin remSizeCustomProperties() {

  /* sizes */
  // each size
  @each $key,
  $size in $sizes {
    // convert to rem
    $size: math.div($size, $base-size);
    --size-#{$key}: #{$size}rem;
  }
}