.container {
  padding: 24px;
  background-color: var(--color-gray-800);
  color: white;
  font-family: 'Roboto Mono', monospace;
  width: 20%;
  overflow-x: hidden;
}

.heading {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-gray-400);
  margin-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}