.container {
  width: 50%;
  flex: 1;
}

.textArea {
  display: block;
  width: 100%;
  height: 100%;
  resize: none;
  background-color: var(--color-gray-900);
  color: var(--color-gray-300);
  font-family: 'Roboto Mono', monospace;
}