@layer base {
  body {
    --base-size: 16;
    --to-rem: var(--base-size) * 1rem;

    // core body defaults
    background-color: var(--bg-workspace);
    color: var(--text-primary);
    font-family: var(--font-family-roboto, sans-serif);
    font-weight: 400;
    font-size: calc(14 / var(--to-rem));
  }
}

body {
  --bg-accent: var(--color-orange-400);
  --text-accent: var(--color-orange-400);

  --bg-workspace: var(--color-gray-1000);
  --bg-workspace-header: var(--color-gray-900);
  --text-workspace-header: var(--color-gray-400);
  --text-primary: var(--color-gray-100);
  --text-body: var(--color-gray-400);
  --bg-splitter: var(--color-gray-500);

  // for sidebar transform
  overflow-x: hidden;
}

.theme-light {
  --bg-workspace: var(--color-gray-100);
  --bg-workspace-header: var(--color-gray-200);
  --text-workspace-header: var(--color-gray-500);
  --text-primary: var(--color-gray-700);
  --text-body: var(--color-gray-500);
  --bg-splitter: var(--color-gray-300);
}
